<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  <center>
    <a href="https://github.com/nuts3745" target="_blank">
      <embed src="https://grass-graph.moshimo.works/images/nuts3745.png"></embed>
    </a>

    <figure>
      <embed
        src="https://wakatime.com/share/@0f39ea0d-6201-4274-8714-4041ac6169e3/9870f00b-2059-4265-a235-77b3018b1b3b.svg"
        width="40%" height="40%"></embed>
      <a href="https://wakatime.com/">Wakatime</a>
    </figure>
  </center>
  {%- include footer.html -%}

</body>

</html>